<ion-view title="Case Type">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>What type of case would you like to report?</p>
        </div>
        <form class="list">
            <ion-radio name="case_type">Domestic Violence</ion-radio>
            <ion-radio name="case_type">Defilement</ion-radio>
            <ion-radio name="case_type">Attempted Rape</ion-radio>
            <ion-radio name="case_type">Rape</ion-radio>
            <ion-radio name="case_type">Gang Rape</ion-radio>
            <ion-radio name="case_type">Sexual Harassment</ion-radio>
            <ion-radio name="case_type">Indecent ACt</ion-radio>
        </form>
        <a href="#/page1/perp" class="button button-positive button-block  icon-right ion-android-arrow-forward">Next</a>
    </ion-content>
</ion-view>