<ion-view title="Forms of GBV">
  <ion-content overflow-scroll="true" padding="true" class="has-header">

    <a href ="" class= " button button-stable button-block icon-right ion-ios-arrow-thin-down">Domestic Violence</a>
    <a href ="" class= " button button-stable button-block icon-right ion-ios-arrow-thin-down">Defilement</a>
    <a href ="" class= " button button-stable button-block icon-right ion-ios-arrow-thin-down">Rape</a>
    <a href ="" class= " button button-stable button-block icon-right ion-ios-arrow-thin-down">Sexual Harassment</a>
    <a href ="" class= " button button-stable button-block icon-right ion-ios-arrow-thin-down">Indecent Acts</a>



  </ion-content>
</ion-view>
