<ion-view title="Get Location">
  <ion-content>
    <p></p>
    <p>Get information on the listed items...</p>
    <p></p>
    <a href="#/page1/definitions" class="button button-stable button-block  icon-right ion-ios-arrow-forward">What is GBV</a>
    <a href="#/page1/forms" class="button button-light button-block  icon-right ion-ios-arrow-forward">Forms of GBV</a>
    <a href="#/page1/steps" class="button button-stable button-block  icon-right ion-ios-arrow-forward">Immediate Steps</a>
    <a href="#/page1/contacts" class="button button-light button-block  icon-right ion-ios-arrow-forward">Emergency Contacts</a>
  </ion-content>
</ion-view>
