<ion-view title="Linda Jinsia">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h5>ACTION AGAINST GENDER VIOLENCE</h5>
        <img src="img/lIAZ2yWyRA227DM67L1w_gender_based_-violence.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        <div></div>
        <div>
            <p>“You have a chance to save lives! If you don't take it, you may regret it!” ― Widad Akrawi</p>

            <p>
                <strong>- Take Action!! Say Something!!! -</strong>
            </p>
        </div>

        <a href="#/page1/category" class="button button-assertive button-block  icon-right ion-alert-circled">Report Case</a>

    </ion-content>
</ion-view>
