<ion-view title="Perpetrator's Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Enter the perpetrators' details below...</p>
        </div>
        <form class="list">
            <label class="item item-input" name="perp_name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Enter Name">
            </label>
            <label class="item item-select" name="perp_gender">
                <span class="input-label">Gender</span>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </label>
            <div>
                <p>What is the relationship betwen victim and the assailant?</p>
            </div>
            <label class="item item-select" name="perp_rel">
                <span class="input-label">Relationship</span>
                <select>
                    <option>Uknown</option>
                    <option>Family Member</option>
                    <option>Relative</option>
                    <option>Friend</option>
                    <option>Colleague</option>
                </select>
            </label>
            <div>
                <p>Has such an incident involving the same people ever occured?</p>
            </div>
            <ion-radio name="re-occur">Yes</ion-radio>
            <ion-radio name="re-occur">No</ion-radio>
        </form>
        <a href="#/page1/photo" class="button button-positive button-block  icon-right ion-android-arrow-forward">Next</a>
    </ion-content>
</ion-view>