<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-calm tabs-icon-top">
        <ion-tab title="Home" icon="ion-android-home" href="#/page1/home">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Get Information" icon="ion-ios-information" href="#/page1/get_info">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Get Locations" icon="ion-location" href="#/page1/get_locations">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
