<ion-view title="Witness Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Fill in your details below...</p>
        </div>
        <form class="list">
            <label class="item item-input" name="witness_name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Enter Name">
            </label>
            <label class="item item-select" name="witness_gender">
                <span class="input-label">Gender</span>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </label>
        </form>
        <a href="#/page1/vic_details" class="button button-positive button-block  icon-right ion-android-arrow-forward">Next</a>
    </ion-content>
</ion-view>